@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Blogsmith</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="~/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="logo">
  <h1><a href="#">MyBlog</a></h1>
  <p>From V.S. and P.M.</p>
</div>
<div id="menu">
  <ul>
    <li class="current_page_item"><a asp-controller="Articles" asp-action="Index">Homepage</a></li>
            @if (signInManager.IsSignedIn(User))
            {
                <li><a asp-action="Create" asp-controller="Articles">Create Article</a></li>
            }
    <li><a href="#">About Us</a></li>
    <partial name="_LoginPartial" />
  </ul>
</div>
<div id="page">
  <div id="page-bg">
    @RenderBody()
    <div style="clear: both;">&nbsp;</div>
  </div>
</div>
<div id="footer">
  <p>&copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp;</p>
</div>
@RenderSection("scripts", false)
</body>
</html>



@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MyBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>*@
